.fontAbout{
    font-family: 'Raleway', san-serif;
    font-size: 60px;
    text-align: center;
    animation-duration: 4s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
