@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

*{
  margin: 0;
  padding:0;
}

body {
  font-family: system-ui;
  background-color: black;
}

h1, p, body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

/*======== styles NavBar =========*/
.navLi{
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  justify-content: center;
  width: 145px;
  margin-left: 10px;
  margin-right: 10px;
  display: list-item;
}

.navLi :hover{
  color: aqua;
  animation-duration: 2000ms;
}

.active{
  border-bottom: 2px solid white;
  display: list-item;
  animation-duration: 1000ms;
}

.mb_nav{
  margin-bottom: 80px;
}

/*======== Buttons ========*/
.btn-return{
  width: 200px;
  height: 50px;
  text-decoration: none !important;
  border-radius: 50px !important;
  color: white;
  background-color: #10f0ddd8;
}

.btn-return :hover{
  border-radius: 50px;
  color: black;
  background: linear-gradient(#f30ed4ce, #10f0ddd8); 
}

/*======== Dimensions ========*/
.img-icon{
  height: 100px;
  width: 100px;
}
.w-200{
  width: 150px;
  height: 150px;
  border-radius: 60px;
}
.radius{
  border-radius: 40px;
}
.margin-container{
  margin-top: 120px !important;
}

/*======== Fonts ========*/
.fontAbout{
  font-family: 'Raleway', san-serif;
  font-size: 60px;
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer;
  margin-top: 100px;
  color: white;
}

.font-contact{
  font-family: 'Raleway', san-serif;
  font-size: 45px;
  text-align: center;
  color: white;
}

.spaunContainer{
  animation-duration: 3s;
  animation-name: aparecer;
}
.font-name{
  font-family: 'Raleway', san-serif; 
}
@keyframes aparecer {
  0%{
      opacity:0;
  }
  100%{
      opacity:1;
  }
}

/*Animations Rotated Icons*/
.rotated{
	animation-name: rotation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
    color: aqua;
  }
  25%{
    color: #f30ed4cc;
  }
  50%{
    color: #f30ed4a4;
  }
  100% {
    transform:rotate(360deg);
    border-left: unset;
    color: aqua;
  }
}

/*========Baground Colors========*/
.bg-navBar{
  background-color: black;
}
.bg-proyect{
  background: linear-gradient(#f7a204a6, #eff303ad); 
}
.bg-about{
  background: linear-gradient(#f30ed4, #31e0d1); 
}
.bg-edu{
  background-color: black;
}

@media (min-width: 350px) and (max-width: 576px){
  .w-200{
    height: 100px !important;
    width: 100px !important;
  }
  .fontAbout{
    font-family: 'Raleway', san-serif;
    font-size: 38px !important;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    margin-top: 100px;
    }
}

/*Media SM*/
@media (min-width: 577px) and (max-width: 767px){
  .w-200{
    height: 100px !important;
    width: 100px !important;
  }
  .fontAbout{
    font-family: 'Raleway', san-serif;
    font-size: 45px !important;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    margin-top: 100px;
    margin-bottom: 10px;
    }
}

/* Media MD */
@media (min-width: 768px) and (max-width: 992px){
  .fontAbout{
    font-family: 'Raleway', san-serif;
    font-size: 45px !important;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    margin-top: 100px;
    }
    .w-200{
      height: 150px !important;
      width: 150px !important;
    } 
}


.w-loader{
	animation-name: loader;
	animation-duration: 4s;
}

@keyframes loader {
  0% {
    background-color: green;
    width: 0vh;
  }
  100% {
    background-color: green;
    width: 200vh;
  }
}

.spaun{
  animation-name: spawn;
  animation-duration: 6s;
}

@keyframes spawn {
  0% {
    visibility:hidden;
  }
  20%{
    visibility: hidden;
  }
  40%{
    visibility: hidden;
  }
  60%{
    visibility: hidden;
  }
  100% {
    visibility:visible;
  }
}

.vh-75{
  height: 75vh;
}

.img-perfil{
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 150px;
  width: 275px;
  height: 275px;
}